:root {
    --purple-light: #9E8CFC;
    --red: #EA5455;
    --yellow: #F2C94C;
    --green: #6FCF97;
    --blue-dark: #283046;
    --blue-darken: #161D31;
    --purple-dark: #392C72;
    --gray-dark: #4F4F4F;
    --gray-middle: #828282;
    --gray-light: #BDBDBD;

    --aside-width-open: 220px;
    --aside-width-close: 90px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Montserrat;
    background: var(--blue-darken);
}
main {
    position: relative;
    left: var(--aside-width-open);
    width: calc(100vw - var(--aside-width-open));
    height: 100vh;
    background: inherit;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    header {
        width: 100%;
        height: 80px;
        background: var(--blue-dark);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    section{
        background: var(--blue-dark);
        width :100%;
        height: 100%;
        border-radius: 10px;
        padding: 20px;
    }

}

aside {
    position: fixed;
    background: var(--blue-dark);
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--aside-width-open);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}