:root {
    --purple-light: #9E8CFC;
    --red: #EA5455;
    --yellow: #F2C94C;
    --green: #6FCF97;
    --blue-dark: #283046;
    --blue-darken: #161D31;
    --purple-dark: #392C72;
    --gray-dark: #4F4F4F;
    --gray-middle: #828282;
    --gray-light: #BDBDBD;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Montserrat;
}

aside{

}

header{

}

main{
    
}
